<!-- includes/footer -->
<footer class="footer">

    <div class="container ">
        <div class="grid">
            <div class="grid__item medium-up--one-half">
                <h3 class="footer-title large">Start working on a new project?</h3>
                <a class="btn" href="/contact">Let's Get Started</a>
            </div>
            <div class="grid__item medium-up--one-quarter">
                <h3 class="footer-title">Connect With Me</h3>
                <ul class="social-nav">
                    {%- assign social_nav = 'Facebook,Instagram,Youtube' | split: ',' -%}
                    {% for soc in social_nav %}
                        {% capture icn %}icons/icon-{{-soc|strip|downcase|handlize-}}.liquid{% endcapture %}
                        <li>
                            <a href="https://{{soc}}.com/pnkdrmmmr" target="_blank">
                                <span class="visually-hidden">{{soc}}</span>
                                {% include {{icn}} %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid__item medium-up--one-quarter">
                <h3 class="footer-title">Instagram</h3>
                <div class="grid margin">
                    {% for i in (1..6) %}
                        <div class="grid__item one-half medium-up--one-third">
                            <div class="bg_image insta-{{forloop.index}}"></div>
                        </div>
                    {% endfor %}
                    <style type="text/css">
                        {% for i in (1..6) %}
                            {% capture cycle %}{% cycle 'man', 'woman', 'bird', 'bike', 'mountain', 'art' %}{% endcapture %}
                            {% capture rando %}https://picsum.photos/300/300/?{{cycle}}{% endcapture %}
                            .insta-{{forloop.index}} {
                                background-image: url({{ rando }});
                            }
                        {% endfor %}
                    </style>
                </div>
            </div>
            <div class="grid__item medium-up--one-half align-middle ">
                <ul class="footer-links">           
                    {% for item in site.menus.navigation %}
                        {% assign page_url = page.url | replace: '.html','' %}
                        <li class="nav-item {% if page_url == item.url %}active{% endif %}">
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid__item medium-up--one-half align-middle medium-up--text-right">
                <span>© {{ 'now' | date: '%Y' }} {{ site.title | upcase }}. All Rights Reserved</span>
            </div>
        </div>
    </div>

    

    <script type="text/javascript">
        // console.log('turn footer back on')
        



    </script>

    
</footer>
