<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="{{ site.baseurl }}">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
	<script src="{{ "/js/scripts.js" | relative_url }}" type="text/javascript"></script>
	<link rel="stylesheet" href="https://use.typekit.net/akz3yrt.css">
	{% comment %}<script src="{{ "/js/vendor/lightbox.js" | relative_url }}" type="text/javascript"></script>{% endcomment %}

	<script type="text/javascript">
		// console.log('turn scroll magic back on at some point')
		var controller = new ScrollMagic.Controller({refreshInterval: 0});
	</script>
</head>
