<!-- includes/global/nav -->

<!-- includes/header -->
<header class="main-header">
    <div class="overlay-bg close-menu"></div>
    <div class="menu-panel">
    <a href="/" class="logo">
        {% assign ttl_splt = site.title | split: '' %}
        {% for i in ttl_splt %}
            {% if i != '' %}
                <span>{{i}}</span>
            {% endif %}
        {% endfor %}
    </a>
    <span class="open menu-toggle">
      <span class="visually-hidden">Open Menu</span>
      {% include icons/menu-open.liquid %}
    </span>
        <ul class="main-nav">
                      {% comment %}for link in site.menus.navigation{% endcomment %}
                      {% comment %}site.data.menus.main{% endcomment %}
                      {% comment %}site.menus.navigation{% endcomment %}
            {% for item in site.menus.navigation %}
                {% assign page_url = page.url | replace: '.html','' %}
                <li>
                    <a 
                        href="{{ item.url }}" 
                        class="nav-item {% if page_url == item.url %}active{% endif %}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="social-nav">
            {% assign social_nav = 'facebook, instagram, youtube' | split: ',' %}
            {% for soc in social_nav %}
                <li>
                    <a href="https://{{soc}}.com/pnkdrmmmr">{{soc}}</a>
                </li>
            {% endfor %}
        </ul>
        <script type="text/javascript">
           // console.log('Turn Nav back on')
           
        </script>
    </div>
</header>
{% comment %}{% if page_url != '/' and include.spacer != 'none' %}
    <div 
        style="height:108px;" 
        class="spacer"></div>
{% endif %}{% endcomment %}








