footer {
	position:relative;
	z-index: 99999999999;
	padding: 120px 0;
	background: $darkerGrey;
	// filter: blur(0px);
	transition: all .3s $ease-out-quad;
	
	.container {
		width: 90%;
		padding: 0;
	}
	.modal_open & { 
		filter: blur(4px);
	}

	.grid {
		margin-bottom: -60px;
		.grid__item {
			padding-bottom: 60px
		}
	}

	.grid.margin {
		margin-bottom: -15px;
		margin-left: -15px;
		.grid__item {
			padding-bottom: 15px;
			padding-left: 15px;
		}
	}
	.bg_image {
		@extend .background-image;
		min-height: auto;
		width: 100%;
		display: block;
		width: 100%;
		padding-top: 100%;
	}

	.footer-title {
		color: $white;
		margin: 0 0 0.75em;
		font-size: 1.1em;
		
		&.large {
			font-size: 1.5em;
			margin-bottom: 1.3em;
		}
	}

	.footer-links {
		margin: 0;
		padding: 0;
		li {
			font-size: 0.9em;
			display: block;
			margin:0 0 10px;
			a {
				color:#999999;
			}
		}
	}

	.social-nav {
		display: block;
		margin: 0 0 15px;
		padding:0;
		li {
			display: inline-block;
			vertical-align: middle;
			padding:0;
			margin:0;
			a {
				padding: 5px;
			}
		}
	}

	@media screen and (min-width: $grid-medium - 1) {

		height: 100%;
		min-height: 100vh;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			z-index: -1;
			background: $darkerGrey;

		}

		& > .container {
			// position: -webkit-sticky;
			// position: sticky;
			// top:50%;
			// transform: translateY(-50%);
			overflow: hidden;
			// background: #ccc;
			// height: auto;
			 // height: 50px;
			  // line-height: 50px;÷
			  margin-top: 10px;
			  // font-size: 30px;
			  // padding-left: 10px;
			  // position: -webkit-sticky;
			  // position: sticky;
			  top: 0px;
			  transition: all 0s ease-out;
		}


		.footer-title {
			font-size: 1.5em;
			&:not(.large) {
				text-transform: lowercase;
				letter-spacing: -0.035em;
			}
			&.large {
				font-size: 2.3em;
				max-width: 380px;
			}
		}
		.footer-links li {
			display: inline-block;
			margin: 0 20px 10px 0;
		}
	}

}





// .footer {
// 	height:100vh;
// 	width:100%;
// 	min-height:400px;
// 	position:relative;
// 	transform: translateZ(0);
// 	&:before {
// 		content:'';
// 		height:100vh;
// 		width:100%;
// 		min-height:400px;
// 		position:absolute;
// 		background-size:cover;
// 		background-size:160vw;
// 		background-size:160%;
// 		background-position: bottom right;
// 		background-repeat:no-repeat;
// 		// opacity:0.9;
// 		background-color:darken($green,10%);
// 		// background-blend-mode:multiply;
// 	}
// 	.grid_no_gutter {
// 		display:table;
// 		height:100%;
// 		table-layout: fixed;
// 		width:100%;
// 		.grid__item {
// 			display:table-cell;
// 			height:100%;
// 			vertical-align:middle;
// 			// padding-bottom:180px;
// 		}
// 	}
// 	.container {
// 		height:100%;
// 	}
// 	.background-color {
// 		&:after {
// 			content:'';
// 			position:fixed;
// 			top:0;
// 			bottom:0;
// 			right:0;
// 			width:45%;
// 			height:100%;
// 			// color:$dark;
// 			z-index:1;
// 			// mix-blend-mode:exclusion;
// 		}
// 	}
// 	.content {
// 		position:relative;
// 		z-index:5;
// 		padding:0 2vw;
// 		clear:both;
// 		width:100%;
// 		max-height:75vh;
// 		overflow:auto;
// 		h2 {
// 			font-size:60px;
// 			font-size:5.5vmin !important;
// 			line-height:1;
// 			font-weight:900;
// 			letter-spacing:-0.035em;
// 			text-transform:uppercase;
// 			margin: 0 0 0.25em;
// 			width:100%;
// 		}
// 		p {
// 			font-size:18px;
// 		}
// 		h2, p {
// 			max-width:400px;
// 			float:right;
// 			// margin:0 auto;
// 		}
// 		.btn {
// 			margin-top:1em;
// 		}
// 	}

// 	.background-color {
// 		&:after {
// 			content:'';
// 			position:absolute;
// 			top:0;
// 			bottom:0;
// 			right:0;
// 			width:100%;
// 			height:100%;
// 			z-index:1;
// 			background-color:$dark;
// 			mix-blend-mode:exclusion;
// 		}
// 	}
// 	.grid__item {
// 		vertical-align:middle;
// 		padding-bottom:0;
// 	}
// 	.content {
// 		max-width:700px;
// 		margin:0 auto;
// 		h2, p {
// 			max-width:600px;
// 			width:90%;
// 			margin:0 auto 1em;
// 			float:initial;
// 			// color:$dark;

// 		}
// 		a {
// 			// color:$dark;
// 			font-size:30px;
// 			display:block;
// 			text-align:center;
// 			padding:1em;
// 		}
// 	}
// 	@media screen and (max-width: $grid-large - 1) {

// 		&:before {
// 			background-size:cover;
// 		}
// 		.background-color:after {
// 			width:100%;
// 		}
// 		.content {
// 			h2 {
// 				font-size:50px;
// 				font-size:7.5vmin !important;
// 			}
// 			h2, p {
// 				// max-width:350px;
// 			}
// 		}
// 	}
// 	@media screen and (max-width: $grid-medium - 1) {

// 		&:before {
// 			background-position: center bottom;
// 		}
// 		.grid_no_gutter {
// 			width:100%;
// 			.grid__item {
// 				// padding-bottom:125px;
// 			}
// 		}
// 		.background-color:after {
// 			mix-blend-mode: multiply;
// 			width:100%;
// 		}
// 		.content {
// 			max-width:400px;
// 			margin:0 auto;
// 			h2 {
// 				font-size:40px;
// 			}
// 			p {
// 				font-size:16px;
// 			}
// 			h2, p {
// 				float:initial;
// 			}
// 		}
// 		&.contact {
// 			&:before {

// 			}
// 			.grid__item {
// 				// vertical-align:middle;
// 				padding-bottom:0;
// 				// margin:2em auto;
// 				// display:inline-block;
// 			}
// 			// .content {
// 			// 	h2, p {
// 			// 		max-width:600px;
// 			// 		width:90%;
// 			// 		margin:0 auto 1em;
// 			// 		float:initial;

// 			// 	}
// 			// }
// 		}
// 	}
// }




