{% assign s = section %}
{% capture class %}{{s.template}}-{{forloop.index}}{% endcapture %}
{% capture sectionID %}section-{{class}}{% endcapture %}
<!-- includes/{{s.block}} -->
{% assign imgs 		= s.images %}
{% assign allBgs 	= '' %}
{% assign custom 	= s.custom_css | raw %}
{% assign cssClass	= class | prepend: '.' %}
{% assign cssLoop 	= custom | replace: '==', cssClass | replace: ';', ' !important;' %}
<div 
	class="post-gallery {{class}}" id="{{sectionID}}">
	{% if s.title %}
		<div class="section-title">
			<h3>{{ s.title }}</h3>
		</div>
	{% endif %}
	<div class="grid ">
		{% for img in imgs %}
			{% capture sld_Num %}slide-{{forloop.index}}{% endcapture %}
			{% capture sld_css %}.{{class}} .{{sld_Num}}{% endcapture %}

			<div class="grid__item one-half large-up--one-quarter">
				<a rel="{{sectionID}}" title="{{ img.caption_title }}" href="{{ img.image | relative_url }}" class="background-image squared {{ sld_Num }}"></a>
			</div>

			{% comment %}{% case forloop.index %}
				{% when 1 %}{% assign width = 'large-up--six-twelfths' %}
				{% when 2 %}{% assign width = 'medium--one-half large-up--five-twelfths' %}
				{% when 3 %}{% assign width = 'medium--one-half large-up--four-twelfths' %}
			{% endcase %}
			{% assign url = '' %}{% if img.url != blank %}{% assign url = img.url %}{% elsif img.custom_url != blank %}{% assign url = img.custom_url %}{% endif %}
			{% assign el = 'div' %}{% assign attr = '' %}{% if url != blank %}{% assign el = 'a' %}{% capture attr %} href="{{url}}" {% endcapture %}{% endif %}
			<div class="grid__item {{width}}">
				<{{el}} {{attr}} class=" background-image {{sld_Num}}">
					<div class="info">
						<h2>{{img.title}}</h2>
						{% if img.text %}
							<div class="text-slide">
								<span>{{img.text}}</span>
							</div>
						{% endif %}
					</div>
				</{{el}}>
			</div>{% endcomment %}
			{% capture bgImg %}
			{{sld_css}}::before {
				background-image: url({{img.image}});
			}
			{% endcapture %}
			{% assign allBgs = allBgs | append: bgImg %}
		{% endfor %}
	</div>
	<style type="text/css">
		{{allBgs}}
		
		{{cssLoop}}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.{{imagesClass}} .background-image').simpleLightbox({
				captions: true,
				captionSelector: 'self',
				// rel: true,
				captionType: 'attr',
				captionsData: 'title',
				captionPosition: 'bottom'
			});
		})
	</script>
</div>


{% comment %}<!-- includes/page-gallery -->
<section class="post-gallery background-image">
	{% assign images = section.image %}
	{% assign first = section.image.first  %}
	{% if first.caption_title %}
		{% assign imagesClass = first.caption_title | slugify | truncate: 25, '' | prepend: 'block-' %}
	{% elsif first.caption_text %}
		{% assign imagesClass = first.caption_text | slugify | truncate: 25, '' | prepend: 'block-' %}
	{% elsif first.image %}
		{% assign imagesClass = first.image | slugify | truncate: 25, '' | prepend: 'block-' %}
	{% endif %}

	{% if section.title %}
		<div class="section-title">
			<h3>{{ section.title }}</h3>
		</div>
	{% endif %}
	<div class="grid {{imagesClass}}">
		{% for img in images %}
			{% assign img_id = '' %}
			{% assign img_id = img.image | slugify %}
			{% if img_id %}
				<div class="grid__item one-half large-up--one-quarter">
					<a rel="{{imagesClass}}" title="{{ img.caption_title }}" href="{{ img.image | relative_url }}" class="background-image squared {{ img_id }}"></a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<style type="text/css">
		{% for img in images %}
			{% assign img_id = img.image | slugify %}
			.{{ img_id }} {
				background-image:url({{ img.image | relative_url }});
			}
		{% endfor %}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.{{imagesClass}} .background-image').simpleLightbox({
				captions: true,
				captionSelector: 'self',
				// rel: true,
				captionType: 'attr',
				captionsData: 'title',
				captionPosition: 'bottom'
			});
		})
	</script>
</section>{% endcomment %}

