{% comment %}{% assign stripped_content = content | strip_newlines %}
{% if content and stripped_content != "" %}
<section class="about">
	<div class="container pure-g">
		<div class="pure-u-1">
			<div class="content content-narrow">
				{{ content }}
			</div>
		</div>
	</div>
</section>
{% endif %}{% endcomment %}

{% assign s = section %}
{% capture class %}{{s.template}}-{{forloop.index}}{% endcapture %}
{% capture sectionID %}section-{{class}}{% endcapture %}
<!-- includes/{{s.block}} -->

{% assign img = page.image.background_image | relative_url %}
<style type="text/css">
	.main-hero::after {
		background-image: url({{ img }});
	}
	.main-hero::after {
		{% if page.image.image_background_color != '' %}
			background-color:{{ page.image.image_background_color }} !important;
		{% endif %}
		{% if page.image.background_image != '' %}
		background-image: url('{{ page.image.background_image | relative_url }}') !important;
		{% endif %}
		{% if page.image.background_position != '' %}
		background-position:{{ page.image.background_position }} !important;
		{% endif %}
		{% if page.image.background_size != '' %}
		background-size:{{ page.image.background_size }} !important;
		{% endif %}
	}
</style>

<div class="main-hero background-image {{class}}" id="{{sectionID}}">
	<div class="gradient">
		{% for i in (1..10) %}
			<div></div>
		{% endfor %}
	</div>
	<div class="container">
		<div class="meta-overlay">
			<h1 class="post-title">{{ page.title }}</h1>
			{% comment %}<span class="date">{{ page.date | date: '%B %e, %Y' }}</span>
			<div class="tags">
				{% for p in page.tags %}
					<span>{{ p }}</span> {% unless forloop.last %}<span>|</span>{% endunless %}
					{% assign p_handle = p | slugify | append: ' ' %}
					{% assign this_posts_tags = this_posts_tags | append: p_handle %}
				{% endfor %}
			</div>{% endcomment %}
		</div>
	</div>
</div>