{% assign s = section %}
{% capture class %}{{s.template}}-{{forloop.index}}{% endcapture %}
{% capture sectionID %}section-{{class}}{% endcapture %}
<!-- includes/{{s.block}} -->
{% assign imgs 		= s.slices %}
{% assign allBgs 	= '' %}
{% assign custom 	= s.custom_css | raw %}
{% assign cssClass	= class | prepend: '.' %}
{% assign cssLoop 	= custom | replace: '==', cssClass | replace: ';', ' !important;' %}
{% assign grpHnd 	= s.group_title | handleize %}

{% assign gtr_style = '' %}
{% if s.no_gutter == true %}{% capture gtr_style %}_no_gutter{% endcapture %}{% endif %}

{% assign pgWdth = '' %}
{% if s.default_max_width == true %}{% assign pgWdth = 'page-width' %}{% endif %}

{% assign mxWdth = '' %}
{% if s.custom_max_width == true %}{% capture mxWdth %} style="max-width:{{s.custom_max_width}};" {% endcapture %}{% endif %}

<div 
	class="grid-group {{class}}" id="{{sectionID}}">
	<div class="grid{{gtr_style}} ">
		<div class="{{pgWdth}}" {{mxWdth}}>
			<!--replace_{{grpHnd}}-->
		</div>
	</div>
	<style type="text/css">		
		{{cssLoop}}
	</style>
</div>

