<!-- includes/cta -->
{% assign block_id = '' %}
{% capture cssClass %}.{{blk}}{% endcapture %}
{% capture bdyClass %}{{bdyClass}}{% endcapture %}
<section 
	class="slides {{ block_id }}">
	<div class="grid_no_gutter ">
		{% for item in section.block_items %}
			{% capture sld_Num %}slide-{{forloop.index}}{% endcapture %}
			{% case forloop.index %}
				{% when 1 %}{% assign width = 'large-up--six-twelfths' %}
				{% when 2 %}{% assign width = 'medium--one-half large-up--five-twelfths' %}
				{% when 3 %}{% assign width = 'medium--one-half large-up--four-twelfths' %}
			{% endcase %}
			<div class="grid__item {{width}}">
				{% assign url = item.url %}
				{% include url_shortener.html url=url %}
				<a href="{{url}}" class=" background-image {{sld_Num}}">
					<div class="info">
						<h2>{{item.title}}</h2>
						{% if item.text %}
							<div class="text-slide">
								<span>{{item.text}}</span>
							</div>
						{% endif %}
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	<style type="text/css">
		{% for item in section.block_items %}
		{% capture sld_Num %}slide-{{forloop.index}}{% endcapture %}
		.{{sld_Num}}::before {
			background-image: url({{item.image}});
		}
		{% endfor %}
		{% assign custom = section.html | raw %}
		{% assign cssLoop = custom | replace: '==', cssClass | replace: '++', bdyClass | replace: ';', ' !important;' %}
		{{cssLoop}}
	</style>
</section>

