
{% assign s = section %}
{% capture class %}{{s.template}}-{{forloop.index}}{% endcapture %}
{% capture sectionID %}section-{{class}}{% endcapture %}

{% comment %}<div>{{s}}</div>{% endcomment %}



{% assign imgs 		= s.image %}
{% assign set_hght 	= s.set_height %}
{% assign hght_desk = s.height_desktop %}
{% assign hght_mob 	= s.height_mobile %}

<div class="slider {{class}}" id="{{sectionID}}">
	{% for img in imgs %}
		{% assign main_img 	= img.main_image %}
		{% assign mob_img 	= img.mob_image %}
		{% assign ttl 		= img.title %}
		{% assign txt 		= img.text %}
		{% assign btn_txt 	= img.button_text %}
		{% assign btn_url 	= img.button_url %}
		{% assign cust_url	= img.custom_button_url %}
		{% assign txt_clr	= img.text_color %}
		{% assign op		= img.opacity | time: 0.01 %}
		{% assign bg_clr	= img.overlay_color %}

		<div class="slide slide-{{forloop.index}}">
			<img src="{{main_img}}">

		</div>
	{% endfor %}
</div>


