{% assign s = section %}
{% capture class %}{{s.template}}-{{forloop.index}}{% endcapture %}
{% capture sectionID %}section-{{class}}{% endcapture %}
<!-- includes/{{s.block}} -->
{% assign custom 	= s.custom_css | raw %}
{% assign cssClass	= class | prepend: '.' %}
{% assign cssLoop 	= custom | replace: '==', cssClass | replace: ';', ' !important;' %}
{% assign ttl 		= s.title | default: page.title %}
{% assign rte 		= s.text %}
{% assign btn_txt 	= s.button_text %}
{% assign btn_url 	= s.button_url %}

<div class="text-block {{class}}" id="{{sectionID}}">
	{% if ttl %}
		<h2 class="post-title">{{ ttl }}</h2>
	{% endif %}
	{% if rte %}
		<div class="rte">{{rte}}</div>
	{% endif %}
	{% if btn_txt and btn_url %}
		<a class="btn" href="{{btn_url}}">{{btn_txt}}</a>
	{% endif %}
	<style type="text/css">
		{{cssLoop}}
	</style>
</div>