{% assign s = section %}
{% capture class %}{{s.template}}-{{forloop.index}}{% endcapture %}
{% capture sectionID %}section-{{class}}{% endcapture %}
<!-- includes/{{s.block}} -->
{% assign vid_url 		= s.video_url %}
{% assign custom 	= s.custom_css | raw %}
{% assign cssClass	= class | prepend: '.' %}
{% assign cssLoop 	= custom | replace: '==', cssClass | replace: ';', ' !important;' %}

<div 
	class="video-section {{class}}" id="{{sectionID}}">
	{% if s.title %}
		<div class="section-title">
			<h2>{{ s.title }}</h2>
		</div>
	{% endif %}

	<style type="text/css">
		{{allBgs}}
		
		{{cssLoop}}
	</style>
	<div class="video-ratio">
		<div class="wrapper">
			{% if vid_url contains "youtu" %}
				{% assign vid_url = vid_url | split: '/' | last %}
		        <iframe
		        	class="iframe-video full-width"
		        	src="https://www.youtube.com/embed/{{ vid_url }}"
		        	width="800"
		        	height="480"
		        	allow="autoplay"
		        	frameborder="0"
		        	allowfullscreen></iframe>
	    	{% elsif vid_url contains "vimeo" %}
				{% assign vid_url = vid_url | split: '/' | last %}
		        <iframe
		        	class="iframe-video full-width"
		        	id="vid{{block.id}}"
		        	src="//player.vimeo.com/video/{{ vid_url }}?byline=0&title=0"
		        	width="800"
		        	height="480"
					frameborder="0"
					webkitallowfullscreen
					mozallowfullscreen
					allowfullscreen></iframe>
	    	{% endif %}
	    </div>
	</div>
</div>

