<?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="25px" viewBox="0 0 14 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>facebook - FontAwesome</title>
    <desc>Created with Sketch.</desc>
    <g id="Home-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="FontAwesome" font-size="26.3736264" font-weight="normal">
        <g id="07" transform="translate(-875.000000, -4421.000000)" fill="#EE5C6C">
            <g id="Footer" transform="translate(0.000000, 4088.000000)">
                <g id="Group-17" transform="translate(86.505495, 182.505495)">
                    <g id="Group" transform="translate(783.824176, 0.000000)">
                        <text id="facebook---FontAwesome">
                            <tspan x="4.21978022" y="172.802198"></tspan>
                        </text>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>