<?xml version="1.0" encoding="UTF-8"?>
<svg width="12px" height="18px" viewBox="0 0 12 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>map-marker - FontAwesome Copy</title>
    <desc>Created with Sketch.</desc>
    <g id="Shows-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="FontAwesome" font-size="20" font-weight="normal">
        <g id="01" transform="translate(-686.000000, -505.000000)" fill="#EE5C6C">
            <g id="Body" transform="translate(425.000000, 150.000000)">
                <g id="events" transform="translate(0.000000, 191.000000)">
                    <g id="event-2" transform="translate(0.000000, 104.000000)">
                        <text id="map-marker---FontAwesome-Copy">
                            <tspan x="261" y="76"></tspan>
                        </text>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>