{% comment %}<svg class="icon" width="55px" height="55px" viewBox="0 0 55 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="v.6" transform="translate(-1314.000000, -49.000000)">
            <g id="Navigation">
                <g id="Menu-Open" transform="translate(1315.000000, 50.000000)">
                    <circle id="Menu_Circle" stroke="currentColor" stroke-width="2" cx="26.5" cy="26.5" r="26.5"></circle>
                    <path d="M15.1777013,19.0462886 C15.0885419,18.9422694 15.0216734,18.8345367 14.9770937,18.7230875 C14.932514,18.6116383 14.9102245,18.4816162 14.9102245,18.3330172 C14.9102245,18.1992782 14.932514,18.072971 14.9770937,17.9540918 C15.0216734,17.8352126 15.0885419,17.7311949 15.1777013,17.6420356 C15.2668606,17.5528762 15.3708783,17.4860077 15.4897575,17.441428 C15.6086367,17.3968483 15.7349439,17.3745588 15.8686829,17.3745588 L36.2192077,17.3745588 C36.3529467,17.3745588 36.479254,17.3968483 36.5981331,17.441428 C36.7170123,17.4860077 36.82103,17.5528762 36.9101894,17.6420356 C36.9993487,17.7311949 37.0662173,17.8352126 37.1107969,17.9540918 C37.1553766,18.072971 37.1776661,18.1992782 37.1776661,18.3330172 C37.1776661,18.4816162 37.1553766,18.6116383 37.1107969,18.7230875 C37.0662173,18.8345367 36.9993487,18.9422694 36.9101894,19.0462886 C36.82103,19.135448 36.7170123,19.2023165 36.5981331,19.2468962 C36.479254,19.2914759 36.3529467,19.3137654 36.2192077,19.3137654 L15.8686829,19.3137654 C15.7349439,19.3137654 15.6086367,19.2914759 15.4897575,19.2468962 C15.3708783,19.2023165 15.2668606,19.135448 15.1777013,19.0462886 Z M36.9101894,25.3988621 C36.9993487,25.4880214 37.0662173,25.5920392 37.1107969,25.7109183 C37.1553766,25.8297975 37.1776661,25.9561047 37.1776661,26.0898437 C37.1776661,26.2235828 37.1553766,26.34989 37.1107969,26.4687692 C37.0662173,26.5876483 36.9993487,26.6916661 36.9101894,26.7808254 C36.82103,26.8699848 36.7170123,26.9368533 36.5981331,26.981433 C36.479254,27.0260127 36.3529467,27.0483022 36.2192077,27.0483022 L15.8686829,27.0483022 C15.7349439,27.0483022 15.6086367,27.0260127 15.4897575,26.981433 C15.3708783,26.9368533 15.2668606,26.8699848 15.1777013,26.7808254 C15.0885419,26.6916661 15.0216734,26.5876483 14.9770937,26.4687692 C14.932514,26.34989 14.9102245,26.2235828 14.9102245,26.0898437 C14.9102245,25.9561047 14.932514,25.8297975 14.9770937,25.7109183 C15.0216734,25.5920392 15.0885419,25.4880214 15.1777013,25.3988621 C15.2668606,25.3097027 15.3708783,25.2428342 15.4897575,25.1982545 C15.6086367,25.1536748 15.7349439,25.1313853 15.8686829,25.1313853 L36.2192077,25.1313853 C36.3529467,25.1313853 36.479254,25.1536748 36.5981331,25.1982545 C36.7170123,25.2428342 36.82103,25.3097027 36.9101894,25.3988621 Z M36.9101894,33.1333989 C36.9993487,33.2225582 37.0662173,33.3265759 37.1107969,33.4454551 C37.1553766,33.5643343 37.1776661,33.6906415 37.1776661,33.8243805 C37.1776661,33.9729795 37.1553766,34.1030016 37.1107969,34.2144508 C37.0662173,34.3259001 36.9993487,34.4336327 36.9101894,34.5376519 C36.82103,34.6268113 36.7170123,34.6936798 36.5981331,34.7382595 C36.479254,34.7828392 36.3529467,34.8051287 36.2192077,34.8051287 L15.8686829,34.8051287 C15.7349439,34.8051287 15.6086367,34.7828392 15.4897575,34.7382595 C15.3708783,34.6936798 15.2668606,34.6268113 15.1777013,34.5376519 C15.0885419,34.4336327 15.0216734,34.3259001 14.9770937,34.2144508 C14.932514,34.1030016 14.9102245,33.9729795 14.9102245,33.8243805 C14.9102245,33.6906415 14.932514,33.5643343 14.9770937,33.4454551 C15.0216734,33.3265759 15.0885419,33.2225582 15.1777013,33.1333989 C15.2668606,33.0442395 15.3708783,32.977371 15.4897575,32.9327913 C15.6086367,32.8882116 15.7349439,32.8659221 15.8686829,32.8659221 L36.2192077,32.8659221 C36.3529467,32.8659221 36.479254,32.8882116 36.5981331,32.9327913 C36.7170123,32.977371 36.82103,33.0442395 36.9101894,33.1333989 Z" id="Menu-Icon-Open" fill="currentColor" opacity="0.900000036" transform="translate(26.043945, 26.089844) scale(-1, 1) rotate(45.000000) translate(-26.043945, -26.089844) "></path>
                </g>
            </g>
        </g>
    </g>
</svg>{% endcomment %}

<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="23px" viewBox="0 0 30 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>Menu Open</title>
    <desc>Created with Sketch.</desc>
    <g id="Home-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="07"  fill="currentColor">
            <rect id="Rectangle-3" x="0" y="0" width="30" height="3"></rect>
            <rect id="Rectangle-3" x="0" y="10" width="30" height="3"></rect>
            <rect id="Rectangle-3" x="0" y="20" width="30" height="3"></rect>
        </g>
    </g>
</svg>