---
layout: default
---
<!-- layouts/{{page.layout}} -->
{% assign log = true %}
{% comment %}{% include global/output.html %}{% endcomment %}

{% assign grps = '' %}
{% assign innrItm = '' %}
<div class="">
	{% for section in page.blocks %}
		{% assign s = section %}
		{% assign temp = s.template | handleize %}
		{% assign grd = 'block-grid-group' %}
		{% if temp == grd %}
			{% capture grpItm %}
				{% include {{ s.block }}.html %}
				<!-- End of Group: {{s.title}}  -->
			{% endcapture %}
			{% assign grps = grps | append: grpItm %}
		{% endif %}

		{% if temp != grd %}
			{% unless s.assign_to_group %}
				{% include {{ s.block }}.html %}
				<!-- End of Item: {{temp}} / {{s.title}}  -->
			{% else %}
				{% capture rplcThs %}<!--replace_{{s.assign_to_group|handleize}}-->{% endcapture %}
				{% capture innrItm %}
					{% include global/width-creator.html %}
					<div class="grid__item {{grid_widths}}">
						{% include {{ s.block }}.html %}
					</div>
					<!-- End of Item: {{temp}} / {{s.title}}  -->
					{{rplcThs}}
				{% endcapture %}
				{% assign grps = grps | replace: rplcThs, innrItm %}
			{% endunless %}
		{% endif %}

	{% endfor %}
	{{grps}}
</div>

